.btn-teste{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b2b2b;
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}